.swiper-button-next:after,
.swiper-button-prev:after {
  color: #dea90a !important;
  font-weight: 1000;
}

@media (min-width: 1000px) {
  /* .swiper-button-next:after {
    margin-right: 100px;
  }

  .swiper-button-prev:after {
    margin-left: 100px;
  } */
}
